body {
	padding-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

[class*="col-"], footer {
	border-radius: 6px;
	line-height: 30px;
	text-align: center;
}

.navbar-default {
	background-color: blue;
	color: white;
}